# Node.js dependencies
node_modules/
.env

# Playwright output
playwright-report/
screenshots/
test-results/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# gitignore
.gitignore